.font-work-sans {
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  background-color: #f15b22;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 26px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.banner {
  padding: 216px 230px 166px 845px;
  text-align: right;
  max-width: 1600px;
  min-height: 808px;
  background: url(/images/banner/banner1.png);
}
.banner h1 {
  font-size: 65px;
  font-weight: bold;
  color: #151414;
  margin-bottom: 24px;
}
.banner p {
  font-size: 16px;
  color: #444343;
  line-height: 26px;
  margin-bottom: 32px;
}
.hero {
  margin: 130px 322px 130px 206px;
  display: flex;
  gap: 87px;
  justify-content: space-between;
  align-items: center;
}
.hero-content h2 {
  font-size: 40px;
  font-weight: bold;
  color: #151414;
  margin-bottom: 24px;
}
.hero-content p {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}
.hero-content ul li {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  list-style: none;
}
.hero-content ul li i {
  color: #16d887;
}
.plans {
  text-align: center;
  width: 71%;
  max-width: 1440px;
  margin: 0 auto;
}
.plans h2 {
  font-size: 40px;
  font-weight: bold;
  color: #151414;
  margin-bottom: 55px;
}
.item {
  display: flex;
  justify-content: space-between;
}
.item h3 {
  font-size: 30px;
  font-weight: bold;
  color: #151414;
}
.item p {
  font-size: 25px;
  font-weight: 400;
  color: #737272;
}
.item img {
  max-width: 92px;
}
.mindset-section {
  margin: 130px 230px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #f15b22, transparent),
    url(/images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  padding: 60px 600px 60px 64px;
}
.mindset-section h2 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 24px;
}
.mindset-section button {
  font-size: 20px;
  font-weight: 600;
  color: #f15b22;
  border-radius: 5px;
  padding: 20px 36px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
